.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* Align items at the top of the container */
  /* height: 100vh; */
}

.form-container {
  margin-bottom: 20px;
  /* Add some space between form and table */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
  /* Add margin-bottom to the label for spacing */
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

button {
  margin-top: 10px;
  /* Adjust margin-top to move the button slightly below the input */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.table-container {
  width: 100%;
  /* Make the table fill the container width */
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f8f9fa;
  /* Add background color */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  /* Increase cell padding */
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td {
  vertical-align: middle;
}